<section id="about" class="about">
    <div class="container">
        <h2 class="section-title load-hidden" [ngsReveal]="getConfig('section-title')">About me</h2>
        <div class="row about-wrapper">
            <div class="col-md-6 col-sm-12">
                <div class="about-wrapper__image load-hidden">
                    <img
                            [ngsReveal]="getConfig('about-wrapper__image')"
                            alt="Profile Image"
                            class="img-fluid rounded shadow-lg about-img"
                            ngSrc="assets/img/profile.jpeg"
                            height="1046" width="1080" priority/>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="about-wrapper__info load-hidden" [ngsReveal]="getConfig('about-wrapper__info')">
                    <p class="about-wrapper__info-text">
                        Hello there! I'm Rubén Martínez, a passionate web developer specializing in frontend
                        technologies,
                        particularly Angular. With a keen eye for design and a knack for crafting intuitive user
                        experiences, I thrive on bringing ideas to life through clean and efficient code.

                        My journey into the world of web development began with a fascination for frontend technologies.
                        Over time, I've honed my skills in Angular, mastering its intricacies to build responsive,
                        dynamic, and engaging interfaces. I believe in creating not just functional websites, but
                        experiences that captivate and delight users.

                        Beyond Angular, I've ventured into various backend technologies such as Spring Boot, Django,
                        Node.js, and Express. This diverse experience has given me a holistic understanding of web
                        development, allowing me to seamlessly integrate frontend and backend functionalities for robust
                        and scalable applications.
                    </p>
                    <p class="about-wrapper__info-text">
                        I'm dedicated to staying updated with the latest industry trends and technologies, always eager
                        to expand my knowledge base. I approach each project with enthusiasm, leveraging my expertise to
                        deliver solutions that exceed expectations.

                        When I'm not coding, you'll find me exploring new technologies, contributing to open-source
                        projects, or seeking inspiration from the ever-evolving web development landscape.

                        Let's collaborate and turn your ideas into polished, innovative web experiences. Get in touch,
                        and let's create something amazing together!
                    </p>
                    <span class="d-flex mt-3">
                <a
                        rel="noreferrer"
                        target="_blank"
                        class="cta-btn cta-btn--resume"
                        href="assets/img/resume.pdf"
                >
                  View Resume
                </a>
              </span>
                </div>
            </div>
        </div>
    </div>
</section>
