@import "../../../../assets/abstracts/variables";
@import "../../../../assets/abstracts/mixins";

.row {
  margin-bottom: 8rem;

  &-even {
    flex-direction: row-reverse;
  }

  @include respond(phone) {
    margin-bottom: 4rem;
  }
}

.project-wrapper {
  &__text {
    text-align: left;

    @include respond(phone) {
      margin-bottom: 2.5rem !important;
    }
    @include respond(tab-land) {
      margin-bottom: 4.8rem;
    }

    &-title {
      font-weight: bold;
      margin-bottom: 1.8rem;
      font-size: $mid-font-size;

      @include respond(phone) {
        font-size: 2rem;
      }
    }

    & p > a {
      color: var(--secondary-color);
    }
  }

  &__image {
    width: 90%;
    margin: 0 auto;
    cursor: pointer;

    @include respond(tab-land) {
      width: 100%;
      margin: 0;
    }
  }
}

figure {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}

.project-wrapper__container figure {
  position: relative;
}

.project-wrapper__container figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.project-wrapper__container figure:hover::before {
  -webkit-animation: shine .75s;
  animation: shine .75s;
}

@-webkit-keyframes shine {
  to {
    left: 125%;
  }
}

@keyframes shine {
  to {
    left: 125%;
  }
}
