<div class="row {{isEven % 2 === 0 ? 'row-even' : ''}}">
    <div class="col-lg-4 col-sm-12">
        <div class="project-wrapper__text" [ngsReveal]="getConfig('project-wrapper__text')">
            <h3 class="project-wrapper__text-title">{{ project.name }}</h3>
            <div>
                <p class="mb-4">{{ project.description }}</p>
            </div>
            <a
                    rel="noreferrer"
                    target="_blank"
                    class="cta-btn cta-btn--hero"
                    href="{{onNavigate(project.urlLive)}}"
            >
                See Live
            </a>
            <a
                    rel="noreferrer"
                    target="_blank"
                    class="cta-btn text-color-main"
                    href="{{onNavigate(project.urlGit)}}"
            >
                Source Code
            </a>
        </div>
    </div>
    <div class="col-lg-8 col-sm-12">
        <div class="project-wrapper__image load-hidden" [ngsReveal]="getConfig('project-wrapper__image')">
            <a rel="noreferrer" href="{{onNavigate(project.urlLive)}}" target="_blank">
                <div class="project-wrapper__container">
                    <div>
                        <figure>
                            <img
                                    alt="Project Image"
                                    class="img-fluid"
                                    ngSrc="assets/img/project.jpg"
                                    height="1229" width="2048" priority/>
                        </figure>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
