<section id="contact" class="contact">
    <div class="container">
        <a rel="noreferrer" href="#top" class="back-to-top" [ngsReveal]="getConfig('section-title')">
            <i class="fa fa-angle-up fa-2x" aria-hidden="true"></i>
        </a>
        <h2 class="section-title" [ngsReveal]="getConfig('section-title')">Contact</h2>
        <div class="contact-wrapper load-hidden" [ngsReveal]="getConfig('contact-wrapper')">
            <p class="contact-wrapper__text">Feel free to reach out, fork my code or check my linkedin.</p>
            <div class="social-links">
                <a href="https://www.linkedin.com/in/ruben-martinez-bermejo/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/rumabe97" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=rumabe97@gmail.com" target="_blank"><i class="fab fa-google"></i></a>
            </div>
        </div>
    </div>
</section>